In [ ]:
# raw text
usr_input = 'flour 97g egg york 125g egg white 157g honey 108g cream 78g nuts 14g'
usr_input

' flour 97g egg york 125g egg white 157g honey 108g cream 78g nuts 14g'

In [ ]:
# split and create dictonary
#TODO use regex and make a list below
import re
pat = r''
re.search(pat, usr_input)

In [3]:
import pandas as pd

In [7]:
data = [
['flour', 97, 'g'],
['egg york', 125, 'g'],
['egg white', 157, 'g'],
['honey', 108,'g'],
['cream', 78,'g'],
['nuts', 14,'g']]
data

[['flour', 97, 'g'],
 ['egg york', 125, 'g'],
 ['egg white', 157, 'g'],
 ['honey', 108, 'g'],
 ['cream', 78, 'g'],
 ['nuts', 14, 'g']]

In [8]:
# dataframe (or numpy array)
# columns ingredient, amount, unit(gram, cup, ml, tbsp etc)

df = pd.DataFrame(data, columns=['ingredient', 'amount', 'unit'])
df

  ingredient  amount unit
0      flour      97    g
1   egg york     125    g
2  egg white     157    g
3      honey     108    g
4      cream      78    g
5       nuts      14    g

In [33]:
df_dict = df.set_index('ingredient')['amount'].to_dict()
df_dict

{'flour': 97,
 'egg york': 125,
 'egg white': 157,
 'honey': 108,
 'cream': 78,
 'nuts': 14}

In [ ]:
#TODO check and convert unit to all the same (maybe gram is better...? )

In [ ]:
# calcualte ratio based on user input
# user only has 112 g of egg while, istead of original g
ingredient_to_scale = 'egg white'
new_amount = 112

original_amount = df.loc[df['ingredient'] == ingredient_to_scale, 'amount'].iloc[0]
scale_factor = new_amount / original_amount
print(scale_factor)

# adjust all of ingredients amount
df['scaled_amount'] = (df['amount'] * scale_factor).round()
df

0.7133757961783439

  ingredient  amount unit  scaled_amount
0      flour      97    g           69.0
1   egg york     125    g           89.0
2  egg white     157    g          112.0
3      honey     108    g           77.0
4      cream      78    g           56.0
5       nuts      14    g           10.0

In [31]:
# TODO more than one ingredinet missing case (take more than 1 arguments )

def calculate(user_input_ingredient: str, user_input_amount:int) -> pd.DataFrame:

    ingredient_to_scale = user_input_ingredient
    new_amount = user_input_amount

    original_amount = df.loc[df['ingredient'] == ingredient_to_scale, 'amount'].iloc[0]
    scale_factor = new_amount / original_amount
    print(scale_factor)

    # adjust all of ingredients amount
    df['scaled_amount'] = (df['amount'] * scale_factor).round()

    return df

In [32]:
calculate('egg york', 100)

0.8

  ingredient  amount unit  scaled_amount
0      flour      97    g           78.0
1   egg york     125    g          100.0
2  egg white     157    g          126.0
3      honey     108    g           86.0
4      cream      78    g           62.0
5       nuts      14    g           11.0

In [34]:
def calculate_dict(df_dict: dict, user_input_ingredient: str, user_input_amount: int) -> dict:
    ingredient_to_scale = user_input_ingredient
    new_amount = user_input_amount

    original_amount = df_dict[ingredient_to_scale]
    scale_factor = new_amount / original_amount
    print(f"Scale factor: {scale_factor:.2f}")

    # Adjust all ingredient amounts using the scale factor
    scaled_dict = {
        ingredient: round(amount * scale_factor)
        for ingredient, amount in df_dict.items()
    }

    return scaled_dict

In [35]:
df_dict

{'flour': 97,
 'egg york': 125,
 'egg white': 157,
 'honey': 108,
 'cream': 78,
 'nuts': 14}

In [36]:
calculate_dict(df_dict, 'egg york', 100)

Scale factor: 0.80

{'flour': 78,
 'egg york': 100,
 'egg white': 126,
 'honey': 86,
 'cream': 62,
 'nuts': 11}